#Myworks-contanier {
  width: 100%;
  height: 100vh;
  /* height: 100%; */
}
.Myworks-header {
  width: 100%;
  height: 72px;
  color: #fff;
  font-size: 56px;
  font-weight: 600;
  text-transform: capitalize;
  padding-left: 110px;
  padding-top: 40px;
}
.Myworks-images {
  width: 100%;
  margin-top: 4rem;
  height: 60rem;
  display: flex;
  align-items: flex-end;
  transition: transform 0.3s ease;
  overflow: hidden;
  position: relative;
}

.carousel-card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 40px;
  transition: 0.2s;
  /* width:347px;
    height: 561px; */
  /* transform:  rotateX(2deg)rotateY(-46deg) translateZ(100px); */
  /* background-color: aqua; */
  /* transform:matrix(0.00136704 0 0 0.000676133 -0.173953 0); */

  /* transform: rotateY(60deg);  */
  &:hover {
    transform: scale(1.1) rotateZ(0deg);
    margin-left: 40px;
  }
}
.carousel-track {
  display: flex;
  position: absolute;
  left: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  animation: slide 20s linear infinite;
  &:hover {
    animation-play-state: paused;
  }
}
.movement-container {
  width: 100%;
  height: 50px;
  /* background-color: rgb(53, 53, 66); */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.movement-button {
  width: 4rem;
  height: 50px;
  background: transparent;
  border: none;

  cursor: pointer;
  transition: transform 0.2s ease-in-out;

  align-items: center;
  justify-content: center;
}
.movement-button:hover {
  transform: scale(1.1);
}
.movement-button:focus {
  outline: none;
}
.movement-button:active {
  transform: scale(0.95);
}

.backward-arrow {
  transform: rotate(180deg);
  margin-bottom: 2rem;
}
.forward-arrow {
  transform: rotate(0deg);
}
@keyframes slide {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
};